export(LaunchApp)
import(shiny)
import(dplyr)
import(ggplot2)
importFrom(readxl, read_excel)
importFrom(stringr, str_extract)
importFrom(tools, file_path_sans_ext)
importFrom(magick, image_read, image_convert, image_data)
